@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    [data-theme = light] {
        --white-color: theme(colors.white);
        --white-color-2: theme(colors.gray.200);
        --dark-color: theme(colors.slate.900);
        --dark-color-2: theme(colors.slate.500);
        --white-bg: theme(colors.white);
        --white-bg-2: theme(colors.gray.200);
        --dark-bg: theme(colors.slate.800);
        --dark-bg-2: theme(colors.slate.900);
    }
}

@layer components {
    [data-theme = dark] {
        --white-color: theme(colors.slate.800);
        --white-color-2: theme(colors.slate.900);
        --dark-color: theme(colors.gray.100);
        --dark-color-2: theme(colors.gray.400);
        --white-bg: theme(colors.gray.900);
        --white-bg-2: theme(colors.slate.900);
        --dark-bg: theme(colors.white);
        --dark-bg-2: theme(colors.gray.200);
    }
}

body {
    background: var(--white-bg);
    color: var(--dark-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--white-bg-2);
    border-radius: 6px;
}

.white-color {
    color: var(--white-color);
}
.white-color-2 {
    color: var(--white-color-2);
}

.dark-color {
    color: var(--dark-color);
}
.dark-color-2 {
    color: var(--dark-color-2);
}

.white-bg {
    background: var(--white-bg);
}
.white-bg-2 {
    background: var(--white-bg-2);
}

.dark-bg {
    background: var(--dark-bg);
}
.dark-bg-2 {
    background: var(--dark-bg-2);
}


